<div class="container-fluid">
  <%= link_to('New Group', new_group_path, class: 'btn btn-primary pull-right') %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Creator</th>
        <th></th> <!-- for table-striped 版型用-->
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'group_item', collection: @groups, as: :group %>
    </tbody>
  </table>
</div>
