<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span><img src='http://i.imgur.com/Mus1Xaa.png' style="width:30px; height:30px" alt="logo"></span>
        BonBonWo 101
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to('#') do %>
            <span class="glyphicon glyphicon-user"></span>
            註冊
          <% end %>
        </li>
        <li>
          <%= link_to('#') do %>
            <span class="glyphicon glyphicon-log-in">
            登入
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

